/*helper folder section*/
/*font-family*/
/*color  scheme*/
/*layout folder section*/
/* line 1, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #202020;
}

/* line 6, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section .footer-text h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
  color: #3e7e3f;
  text-transform: uppercase;
}

/* line 15, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section .icofont {
  color: #fff;
}

/* line 18, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons {
  color: #777;
  float: none !important;
  text-align: center;
  padding-left: 0px;
  padding-top: 10px;
  text-decoration: none;
}

/* line 25, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons a {
  text-decoration: none;
}

/* line 29, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons li {
  font-size: 20px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  float: left;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 38, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons .icofont-social-facebook:hover {
  color: #29588a;
}

/* line 42, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons .icofont-social-twitter:hover {
  color: #18a7cd;
}

/* line 46, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons .icofont-social-google-plus:hover {
  color: #862f41;
}

/* line 50, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons .icofont-social-instagram:hover {
  color: #807a34;
}

/* line 54, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.footer-section #social-icons .icofont-social-youtube:hover {
  color: #7d2e3a;
}

/* line 60, C:/Users/vansi/Desktop/health website/sass/layout/_footer.scss */
.Reserved {
  text-align: center;
  background-color: #131313;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  padding-top: 20px;
  color: #fff;
  padding-bottom: 20px;
}

@media (min-width: 767px) {
  /* line 2, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  /* line 10, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
  .top-nav-collapse {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 768px) {
  /* line 18, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
  .navbar-inverse {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}

/* line 27, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-inverse .navbar-nav li a {
  color: #9d9d9d;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
}

/* line 33, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
  color: #3e7e3f;
  background-color: transparent;
}

/* line 40, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-inverse .navbar-nav .active > a,
.navbar-inverse .navbar-nav .active > a:hover,
.navbar-inverse .navbar-nav .active > a:focus {
  color: #fff;
  background-color: #3e7e3f;
}

/* line 46, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-inverse .navbar-nav .disabled > a,
.navbar-inverse .navbar-nav .disabled > a:hover,
.navbar-inverse .navbar-nav .disabled > a:focus {
  color: #444;
  background-color: transparent;
}

/* line 53, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-inverse .navbar-toggle {
  border-color: #4b4b4b;
}

/* line 56, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #4b4b4b;
}

/* line 61, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #4b4b4b;
  background-image: none;
  border: none !important;
}

/* line 73, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown {
  position: static !important;
}

/* line 76, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu {
  padding: 20px 0px;
  background-color: rgba(255, 255, 255, 0.93);
}

/* line 80, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu li > ul {
  padding: 0;
  margin: 0;
}

/* line 84, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu li > ul > li {
  list-style: none;
}

/* line 87, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu li > ul > li > a {
  display: block;
  color: #505050;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 5px;
}

/* line 95, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu li > ul > li > a:hover {
  color: #333;
}

/* line 98, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu li ul > li > a:hover, .mega-dropdown-menu li ul > li > a:focus {
  text-decoration: none;
}

/* line 101, C:/Users/vansi/Desktop/health website/sass/layout/_navbar.scss */
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #3e7e3f;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

/*page folder section*/
/* line 1, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 10, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header .video-container {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}

/* line 18, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header .video-container #video-bg {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
}

/* line 24, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header .video-container video {
  display: block;
}

/* line 28, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header .text {
  margin-top: 70px;
}

/* line 30, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header .text h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100px;
  font-weight: 800;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

/* line 38, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.header .text p {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
}

/*=======================
Health-lifestyle  section
========================*/
/* line 50, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f9f9f9;
}

/* line 54, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle p {
  text-align: center;
}

/* line 57, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail {
  position: relative;
  top: 0;
  background-color: #3e7e3f;
  padding: 40px 30px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  line-height: 1.42857143;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 68, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  top: -10px;
}

/* line 72, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail .banner-icon {
  color: #3e7e3f;
  text-align: center;
}

/* line 76, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail h3 {
  font-weight: 600;
  text-align: center;
}

/* line 79, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail h3 a {
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

/* line 83, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail h3 a:hover {
  color: #3e7e3f;
}

/* line 88, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Health-lifestyle .banner-thumbnail p {
  margin: 20px 0px 30px 0px;
  text-align: center;
}

/*===========================
Health-lifestyle  section end
============================*/
/*==========================*
Dont-wait-Tomorrow  SECTION
*===========================*/
/* line 102, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Dont-wait-Tomorrow {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 106, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Dont-wait-Tomorrow .thumbnails {
  position: relative;
  top: 0;
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  line-height: 1.42857143;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 116, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Dont-wait-Tomorrow .thumbnails:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  top: -10px;
}

/* line 122, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Dont-wait-Tomorrow .thumbnails img {
  width: 100%;
  height: 300px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 126, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Dont-wait-Tomorrow .thumbnails img:hover {
  opacity: 0.8;
}

/* line 130, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.Dont-wait-Tomorrow .thumbnails .caption {
  padding: 30px 40px;
}

/*==========================*
Dont-wait-Tomorrow   SECTION  END
*===========================*/
/* line 141, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.commercial-text h3 {
  font-size: 40px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 150px;
  font-weight: 800;
}

/* line 148, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.commercial-text p {
  color: #fff;
}

/*==========================*
NEWS AND ARTICLE SECTION
*===========================*/
/* line 157, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 162, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails {
  position: relative;
  top: 0;
  display: block;
  margin-bottom: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.42857143;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 172, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  top: -10px;
}

/* line 176, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .imgs-thumbnail {
  position: relative;
  overflow: hidden;
}

/* line 180, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .imgs-thumbnail .img-caption {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

/* line 192, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .imgs-thumbnail .img-caption .icofont {
  color: #3e7e3f;
  padding: 50px;
}

/* line 196, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .imgs-thumbnail .img-caption h4 {
  padding: 70px 20px 0px 20px;
}

/* line 199, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .imgs-thumbnail .img-caption p {
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

/* line 208, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails img {
  width: 100%;
  height: 200px;
}

/* line 212, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .caption {
  padding: 10px 20px 30px 20px;
}

/* line 214, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .caption p {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

/* line 221, C:/Users/vansi/Desktop/health website/sass/page/_home.scss */
.News-and-Articles .thumbnails .caption .btn {
  margin: 0 auto;
}

/*==========================*
NEWS AND ARTICLE END
*===========================*/
/* line 2, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.service-header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  margin-top: 150px;
}

/* line 11, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.our-service-section {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 15, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.our-service-section .process-icon {
  float: left;
  color: #3e7e3f;
  padding: 25px;
}

/* line 20, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.our-service-section .h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  color: #4b4b4b;
  margin-top: 30px;
  margin-left: 90px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 90px;
}

/* line 32, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.our-service-section p {
  margin: 10px 0px 60px 90px;
  font-size: 13px;
}

/* line 39, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.service-text h3 {
  font-size: 40px;
  color: #3e7e3f;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 150px;
  font-weight: 800;
}

/* line 46, C:/Users/vansi/Desktop/health website/sass/page/_service.scss */
.service-text p {
  color: #777;
}

/* line 2, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog-header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  margin-top: 150px;
}

/* line 11, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 16, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails {
  position: relative;
  top: 0;
  display: block;
  margin-bottom: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.42857143;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 26, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  top: -10px;
}

/* line 30, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .imgs-thumbnail {
  position: relative;
  overflow: hidden;
}

/* line 34, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .imgs-thumbnail .img-caption {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

/* line 46, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .imgs-thumbnail .img-caption .icofont {
  color: #3e7e3f;
  padding: 50px;
}

/* line 50, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .imgs-thumbnail .img-caption h4 {
  padding: 70px 20px 0px 20px;
}

/* line 53, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .imgs-thumbnail .img-caption p {
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

/* line 62, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails img {
  width: 100%;
  height: 200px;
}

/* line 66, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .caption {
  padding: 10px 20px 30px 20px;
}

/* line 68, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .caption p {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

/* line 75, C:/Users/vansi/Desktop/health website/sass/page/_blog.scss */
.blog .thumbnails .caption .btn {
  text-align: center;
  margin: 0 auto;
}

/* line 1, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* line 7, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1-header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  margin-top: 100px;
}

/* line 19, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 .well li {
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid #ddd;
}

/* line 22, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 .well li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

/* line 31, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 h4 {
  color: #3e7e3f;
  text-align: left;
  font-size: 14px;
}

/* line 36, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 h1 {
  color: #4b4b4b;
  font-size: 25px;
  text-align: left;
}

/* line 41, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 .post {
  border-bottom: 1px solid #ddd;
}

/* line 44, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 .media {
  padding: 10px 0px 10px 0px;
}

/* line 46, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 .media .post-img {
  width: 100px;
  height: 70px;
}

/* line 50, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 .media img {
  width: 64px;
  height: 64px;
}

/* line 55, C:/Users/vansi/Desktop/health website/sass/page/_blogs.scss */
.blog1 #owl-demos .item img {
  display: block;
  width: 100%;
  height: 400px;
}

/*components folder section*/
/* line 1, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btns {
  color: #777;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  float: right;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 9, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btns:hover {
  color: #4b4b4b;
  text-decoration: none;
}

/* line 16, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btn {
  position: relative;
  display: inline-block;
  padding: 3.3px 18px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.8em;
  border: 2px solid #3e7e3f;
  background: #3e7e3f;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 30, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3e7e3f;
  border: 2px solid #3e7e3f;
  opacity: 0.8;
}

/* line 39, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btn-effect {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-top: -5px;
  color: #fff;
  float: left;
  animation-delay: 2.5s;
  text-align: left;
  padding: 10px 25px 10px 25px;
  border: 2px solid #fff;
  margin: 10px 20px 10px 0px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 54, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btn-effect:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

/* line 61, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btn-effects {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-top: -5px;
  color: #000;
  float: left;
  animation-delay: 2.5s;
  text-align: left;
  padding: 10px 25px 10px 25px;
  border: 2px solid #fff;
  background-color: #fff;
  margin: 10px 20px 10px 0px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 77, C:/Users/vansi/Desktop/health website/sass/components/_button.scss */
.btn-effects:hover {
  text-decoration: none;
  color: #000;
  background-color: #e7e7e7;
  border: 2px solid  #e7e7e7;
}

/* CSS Document */
/* line 2, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 11, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

/* line 19, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
}

/* line 27, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 13px;
  color: #777;
  text-transform: uppercase;
}

/* line 37, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  color: #4b4b4b;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 47, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #777;
  text-align: left;
}

/* line 54, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #4b4b4b;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

/* line 62, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
a:active, a:focus, a:hover {
  text-decoration: none;
  color: #3e7e3f;
}

/* line 69, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
.text {
  z-index: 1;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #3e7e3f;
  padding: 10px 15px;
  left: 50px;
  top: 50px;
}

/* heading title session_encodection*/
/* line 80, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
.heading-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 83, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
.heading-title .light-sep {
  max-width: 50px;
  border: 2px solid #3e7e3f;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: -0px;
}

/* line 90, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
.heading-title .h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #4b4b4b;
  text-align: left;
  text-transform: uppercase;
}

/* line 98, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
.heading-title .h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #777;
  text-align: left;
  text-transform: uppercase;
}

/* line 108, C:/Users/vansi/Desktop/health website/sass/components/_typography.scss */
.heading-title .icofont-caret-down {
  position: absolute;
  margin-top: -15px;
  color: #4b4b4b;
  text-align: center;
}

/*end  heading title section*/
/*index.html section*/
/* line 2, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.header {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 7, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.Health-lifestyle {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f9f9f9;
}

/* line 12, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.Dont-wait-Tomorrow {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f8f8f8;
}

/* line 18, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.commercial-text {
  background-image: url("../img/info-block-bg-1-min.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

/* line 25, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.News-and-Articles {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}

/*index.html section end*/
/*service.html section*/
/* line 33, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.service-header {
  margin-top: 85px;
  background-image: url("../img/info-block-bg-1-min.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

/* line 41, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.our-service-section {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
}

/* line 46, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.service-text {
  background-image: url("../img/fqwe12dd_02.jpg");
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  background-attachment: fixed;
}

/*service.html section end*/
/*blog.html section*/
/* line 56, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.blog-header {
  margin-top: 85px;
  background-image: url("../img/info-block-bg-1-min.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

/*blog.html section end*/
/*blogs.html section */
/* line 68, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.blog1 {
  padding-bottom: 100px;
}

/* line 71, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.blog1-header {
  margin-top: 85px;
  background-color: #2d3137;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}

/* line 79, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.blog-content {
  padding-top: 70px;
  padding-bottom: 50px;
}

/* line 84, C:/Users/vansi/Desktop/health website/sass/components/_section.scss */
.blog-aside {
  padding-bottom: 50px;
}

/*blogs.html section end*/

/*# sourceMappingURL=../css/main.map */