.footer-section{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: rgb(32, 32, 32);
   .footer-text h4 {
    font-family: $font-stack;
    font-weight: 600;
    text-align: left;
    font-size: 20px;
    color: $primary-color;
    text-transform: uppercase;
}

 .icofont {
    color: #fff;
}
#social-icons {
    color: #777;
    float: none!important;
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
    text-decoration: none;
    a{
         text-decoration: none;
    }

 li {
    font-size: 20px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    float: left;
     @include transition(all .3s ease-in-out);
}

    .icofont-social-facebook:hover {
    color: rgb(41, 88, 138);

}
.icofont-social-twitter:hover {
    color: rgb(24, 167, 205);

}
  .icofont-social-google-plus:hover {
    color: rgb(134, 47, 65);

}
 .icofont-social-instagram:hover {
    color: rgb(128, 122, 52);

}
 .icofont-social-youtube:hover {
    color: rgb(125, 46, 58);

 }
}
}
.Reserved{
    text-align: center;
     background-color: #131313;
     font-family: $font-stack;
     font-weight: 600;
  padding-top: 20px;
    color: $second-color;
  padding-bottom: 20px;
}
