@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

    }

    .top-nav-collapse {
        padding: 0;
        background-color:$bg-color;
       box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 768px) {
    .navbar-inverse{
           background-color: $bg-color;
       box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
}

.navbar-inverse{
    .navbar-nav {
li {
a {
    color: #9d9d9d;
    font-family: $font-stack;
    font-weight: 600;
   @include border-radius(2px);
    text-transform: uppercase;
&:hover,
&:focus {
  color: $primary-color;
  background-color: transparent;
}
}
}
 .active > a,
 .active > a:hover,
 .active > a:focus {
  color: #fff;
  background-color:$primary-color;
}
 .disabled > a,
 .disabled > a:hover,
 .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
}
 .navbar-toggle {
  border-color: $third-color;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: $third-color;
}
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: $third-color;
    background-image: none;
    border: none!important;
}

.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.93);

li>ul {
    padding: 0;
    margin: 0;
}
li>ul>li {
    list-style: none;
}
li>ul>li>a {
    display: block;
    color: #505050;
    font-family: $font-stack;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 5px;
}
li>ul>li>a:hover {
    color: #333;
}
li ul>li>a:hover, li ul>li>a:focus {
    text-decoration: none;
}
.dropdown-header {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $primary-color;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}
}
