.blog-header{
  h1{
    font-family: $font-stack;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-top: 150px;
  }
}

.blog {
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    .thumbnails {
    position: relative;
    top: 0;
    display: block;
    margin-bottom: 40px;
    background: $bg-color;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    line-height: 1.42857143;
    border-radius: 0px;
   @include transition(all .3s ease-in-out);
&:hover {
     @include box-shadow(0 15px 30px rgba(0, 0, 0, 0.2));
    top: -10px;
}
    .imgs-thumbnail {
    position:relative;
    overflow:hidden;

.img-caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(255,255,255, 0.9);
    width:100%;
    height:100%;
    padding:30px 20px 20px 20px;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
    .icofont{
      color: $primary-color;
      padding: 50px;
    }
    h4{
        padding: 70px 20px 0px 20px;
    }
    p{
        font-size: 15px;
        padding: 20px;
        text-align: center;
    }
}
}
}
.thumbnails{
 img {
    width: 100%;
    height: 200px;
}
.caption {
    padding: 10px 20px 30px 20px;
    p{
        font-weight: 600;
        font-size: 18px;
        text-align:center;
        margin-top: 30px;
        text-transform: uppercase;
    }
    .btn{
        text-align: center;
        margin: 0 auto;
    }

}
}
}
