body{
  margin: 0;
    padding: 0;
    background-color: #fff;
}
.blog1-header{
  h1{
    font-family: $font-stack;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-top: 100px;
  }
}

.blog1{

  .well{
      li{
          padding: 5px 20px 5px 20px;
          border-bottom: 1px solid #ddd;
      a{
    font-family: $font-stack;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
      }
      }
    
  }
  h4{
    color: $primary-color;
    text-align: left;
      font-size: 14px;
  }
  h1{
    color: $third-color;
    font-size: 25px;
    text-align: left;
  }
    .post{
           border-bottom: 1px solid #ddd;
    }
  .media{
        padding: 10px 0px 10px 0px;
      .post-img{
      width: 100px;
      height: 70px;
      }
    img{
      width: 64px;
      height: 64px;
    }
  }
  #owl-demos .item img{
     display: block;
     width: 100%;
     height: 400px;
 }
}
