body{
    margin: 0;
    padding: 0;
}

.header{
  width: 100%;
   height: 600px;
   background-color: rgba(0, 0, 0, 0.8);
   .video-container {
       width: 100%;
       max-height: 600px;
       overflow: hidden;
       position: fixed;
       top: 0;
       right: 0;
       z-index: -100;
       #video-bg {
           position: relative;
           width: auto;
           min-width: 100%;
           height: auto;
       }
       video {
           display: block;
       }
   }
   .text {
       margin-top: 70px;
       h1 {
           font-family: $font-stack;
           font-size: 100px;
           font-weight: 800;
           color: $second-color;
           text-align: left;
           text-transform: uppercase;
       }
       p{
         text-align: left;
         font-weight: 600;
         font-size: 15px;
       }
   }
}

/*=======================
Health-lifestyle  section
========================*/

.Health-lifestyle {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f9f9f9;
    p{
      text-align: center;
    }
    .banner-thumbnail {
        position: relative;
        top: 0;
        background-color: $primary-color;
        padding: 40px 30px;
        background: $bg-color;
         @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
        margin-bottom: 40px;
        line-height: 1.42857143;
        border-radius: 0px;
        @include transition(all .3s ease-in-out);
        &:hover {
            @include box-shadow(0 15px 30px rgba(0, 0, 0, 0.2));
            top: -10px;
        }
        .banner-icon {
            color: $primary-color;
            text-align: center;
        }
        h3 {
            font-weight: 600;
            text-align: center;
            a{
              font-size: 15px;
              font-weight: 400;
              font-family: $font-stack1;
              &:hover{
                color: $primary-color;
              }
            }
        }
        p {
            margin: 20px 0px 30px 0px;
            text-align: center;
        }
    }
}
/*===========================
Health-lifestyle  section end
============================*/

/*==========================*
Dont-wait-Tomorrow  SECTION
*===========================*/

.Dont-wait-Tomorrow{
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
    .thumbnails {
    position: relative;
    top: 0;
    display: block;
    background: $bg-color;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    margin-bottom: 40px;
    line-height: 1.42857143;
    border-radius: 0px;
   @include transition(all .3s ease-in-out);
&:hover {
     @include box-shadow(0 15px 30px rgba(0, 0, 0, 0.2));
    top: -10px;
}
}
.thumbnails{
 img {
    width: 100%;
    height: 300px;
     @include transition(all .3s ease-in-out);
    &:hover{
      opacity: 0.8;
    }
}
.caption {
    padding: 30px 40px;
}
}
}

/*==========================*
Dont-wait-Tomorrow   SECTION  END
*===========================*/

.commercial-text{
  h3{
    font-size: 40px;
    color: $second-color;
    font-family: $font-stack;
    margin-top: 150px;
    font-weight: 800;
  }
  p{
    color: $second-color;
  }
}

/*==========================*
NEWS AND ARTICLE SECTION
*===========================*/

.News-and-Articles {
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    .thumbnails {
    position: relative;
    top: 0;
    display: block;
    margin-bottom: 40px;
    background: $bg-color;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    line-height: 1.42857143;
    border-radius: 0px;
   @include transition(all .3s ease-in-out);
&:hover {
     @include box-shadow(0 15px 30px rgba(0, 0, 0, 0.2));
    top: -10px;
}
    .imgs-thumbnail {
    position:relative;
    overflow:hidden;

.img-caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(255,255,255, 0.9);
    width:100%;
    height:100%;
    padding:30px 20px 20px 20px;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
    .icofont{
      color: $primary-color;
      padding: 50px;
    }
    h4{
        padding: 70px 20px 0px 20px;
    }
    p{
        font-size: 15px;
        padding: 20px;
        text-align: center;
    }
}
}
}
.thumbnails{
 img {
    width: 100%;
    height: 200px;
}
.caption {
    padding: 10px 20px 30px 20px;
    p{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        text-transform: uppercase;
    }
.btn{
  margin: 0 auto;
}
}
}
}

/*==========================*
NEWS AND ARTICLE END
*===========================*/
