.service-header{
  h1{
    font-family: $font-stack;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-top: 150px;
  }
}

.our-service-section {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
    .process-icon {
        float: left;
        color: $primary-color;
        padding: 25px;
    }
    .h5 {
        font-family: $font-stack;
        font-weight: 600;
        text-align: left;
        font-size: 15px;
        color: $third-color;
        margin-top: 30px;
        margin-left: 90px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-left: 90px;
    }
    p {
        margin: 10px 0px 60px 90px;
        font-size: 13px;
    }
}

.service-text{
  h3{
    font-size: 40px;
    color: $primary-color;
    font-family: $font-stack;
    margin-top: 150px;
    font-weight: 800;
  }
  p{
    color: $p-color;
  }
}
