.btns {
            color: $p-color;
            font-family: $font-stack;
            font-weight: 600;
            font-size: 15px;
            text-transform: uppercase;
            float: right;
            @include transition(all .3s ease-in-out);
            &:hover {
                color: $third-color;
                text-decoration: none;
            }
        }


.btn {
  position: relative;
    display: inline-block;
    padding: 3.3px 18px;
    color: $second-color;
  font-family: $font-stack;
  font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 1.8em;
    border: 2px solid $primary-color;
    background: $primary-color;
    border-radius: 0;
        @include transition(all .3s ease-in-out);
            &:hover {
                color: $second-color;
                text-decoration: none;
                background-color: $primary-color;
                  border: 2px solid $primary-color;
                  opacity: 0.8;
            }
}

.btn-effect{
    font-family: 'Roboto Condensed', sans-serif;
   font-size:13px;
   font-weight:500;
   margin-top: -5px;
   color:#fff;
   float: left;
   animation-delay: 2.5s;
   text-align:left;
   padding: 10px 25px 10px 25px;
   border: 2px solid #fff;
   margin: 10px 20px 10px 0px;
   letter-spacing: 0.3em;
   text-transform:uppercase;
   @include transition(all .3s ease-in-out);
   &:hover{
     text-decoration: none;
     color: #000;
     background-color: #fff;
   }
  }

  .btn-effects{
      font-family: 'Roboto Condensed', sans-serif;
     font-size:13px;
     font-weight:500;
     margin-top: -5px;
     color:#000;
     float: left;
     animation-delay: 2.5s;
     text-align:left;
     padding: 10px 25px 10px 25px;
     border: 2px solid #fff;
     background-color: #fff;
     margin: 10px 20px 10px 0px;
     letter-spacing: 0.3em;
     text-transform:uppercase;
     @include transition(all .3s ease-in-out);
     &:hover{
       text-decoration: none;
       color: #000;
       background-color: #e7e7e7;
        border: 2px solid  #e7e7e7;
     }
    }
