/*index.html section*/
.header{
  width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}
.Health-lifestyle{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f9f9f9;
}
.Dont-wait-Tomorrow{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f8f8f8;
}

.commercial-text{
  background-image: url("../img/info-block-bg-1-min.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}
.News-and-Articles{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}
/*index.html section end*/

/*service.html section*/
.service-header{
  margin-top: 85px;
  background-image: url("../img/info-block-bg-1-min.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}
.our-service-section{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
}
.service-text{
  background-image: url("../img/fqwe12dd_02.jpg");
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
/*service.html section end*/

/*blog.html section*/
.blog-header{
  margin-top: 85px;
  background-image: url("../img/info-block-bg-1-min.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

/*blog.html section end*/

/*blogs.html section */
.blog1{
  padding-bottom: 100px;
}
.blog1-header{
  margin-top: 85px;
  background-color: rgb(45, 49, 55);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}
.blog-content{
  padding-top: 70px;
  padding-bottom: 50px;
}

.blog-aside{
  padding-bottom: 50px;
}

/*blogs.html section end*/
