/* CSS Document */
h1 {
	font-family: $font-stack;
	font-size: 70px;
	font-weight: 400;
	color: $second-color;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h4 {
	font-family: $font-stack;
	font-weight: 600;
	text-align: center;
	font-size: 18px;
	color: $second-color;
	text-transform: uppercase;
}
h5 {
	font-family: $font-stack;
	font-weight: 600;
	text-align: left;
	font-size: 15px;
	color: $p-color;
	text-transform: uppercase;
}
h6{
    font-family: $font-stack;
	font-weight: 600;
	text-align: left;
	font-size: 13px;
	color: $p-color;
	text-transform: uppercase;
}


h3{
	font-family: $font-stack1;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
	color: $third-color;
	font-weight: 400;
	text-transform: uppercase;
	 }

p {
	font-family: $font-stack;
	font-size: 15px;
	font-weight: 500;
	color: $p-color;
	text-align: left;
}
a {
	font-family: $font-stack1;
	font-size: 13px;
	font-weight: 700;
	color: $third-color;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
		color: $primary-color;
	}
}
.text {
	z-index: 1;
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	color:$primary-color;
	padding: 10px 15px;
	left: 50px;
	top: 50px;
}
/* heading title session_encodection*/
.heading-title {
	margin-top: 50px;
	margin-bottom: 50px;
	.light-sep {
		max-width: 50px;
		border: 2px solid $primary-color;
		margin-top: 5px;
		margin-bottom: 50px;
		margin-left: -0px;
	}
	.h2 {
		font-family: $font-stack;
		font-size: 25px;
		font-weight: 800;
		color: $third-color;
		text-align:left;
		text-transform: uppercase;
	}
	.h3 {
		font-family: $font-stack;
		font-size: 14px;
		margin-top: 5px;
		font-weight: 500;
		margin-bottom: 15px;
		color: $p-color;
		text-align: left;
		text-transform: uppercase;
	}
	.icofont-caret-down{
		position: absolute;
		margin-top: -15px;
		color: $third-color;
		text-align: center;

	}
}
/*end  heading title section*/
