@mixin transition($time){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
     -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($time) {
  -webkit-transform: $time;
     -moz-transform: $time;
      -ms-transform: $time;
     -o-transform: $time;
         transform: $time;
}

@mixin box-shadow($wide) {
  -webkit-box-shadow: $wide;
     -moz-box-shadow: $wide;
      -ms-box-shadow: $wide;
     -o-box-shadow: $wide;
         box-shadow: $wide;
}


