/*font-family*/
$font-stack:   'Roboto Condensed', sans-serif;
$font-stack1:'Montserrat', sans-serif;
/*color  scheme*/
$primary-color: rgb(62, 126, 63);
$bg-color:#fff;
$p-color:#777;
$second-color:#fff;
$bg-blue-color: #1A4C6D;
$third-color: #4b4b4b;
